

/*Here goes the Navigation bar. It is supposed to be sticky. Sometimes it works sometimes it doesn't and I have no idea why?*/
nav ul li a:hover {
	color: rgba(153, 230, 150, 0.658);
	text-decoration: underline overline wavy rgba(156, 156, 212, 0.247);
}
#nav{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(20, 220, 143, 0.473);
  box-shadow: 10px 10px 5px #1C1C1C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #666;
}

.active {
	background-color: #444;
}
